*.class
*.log
*.orig
*.jar

# sbt specific
.cache
.history
.lib/
blah/

target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
node_modules/*

/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp

.ensime*
.classpath
.project
*~
.#*
\#*\#
.\#*
# do not include assets that are generated during the build
docs/src/main/resources/microsite/static
dist/*

.emacs.desktop
.metals/
project/metals.sbt
.bloop/
package-lock.json
project/secret
*.swp
scalajs-reaction-docs
*swp
.bsp
/*.yml
