*.class
*.log
*.orig

# sbt specific
.cache
.history
.lib/
blah/
.metals/

target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
node_modules/*

.ensime*
.classpath
.project
*~
.#*
\#*\#
.\#*
# do not include assets that are generated during the build
docs/src/main/resources/microsite/static
dist/*

.emacs.desktop
.metals
.bloop
package-lock.json
