/** addressmanager CSS */

:root {
    --cbar: 40px;
    --footer: 80px;
}

.component {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    & .masterAndDetail {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        overflow: hidden;
        height: calc(100% - var(--cbar) - var(--footer));
        & .master {
            flex-basis: 50%;
            /* header, 2 labels at bottom */
            overflow: hidden;
            overflow-y: auto;
        }
        & .detail {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            min-width: 100;
        }
    }
    & .footer {
        /* push to bottom */
        margin-top: auto;
    }
}
